
* {
  box-sizing: border-box;
  cursor: none;
}

.cursor {
  position: fixed;
  background-color: #242424;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);

}
.cursor.active {
  opacity: 1;
  transform: scale(0);
 
}
.cursor.active2 {
  opacity: 1;
  transform: scale(1);
  background-color: #fff;
}

.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursor.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 1px solid #fbfbf8;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
  transform: rotate(-20deg);
}

.cursor-follower.active {
  opacity: 1;
  transform: scale(3);
  border: 0px solid #fbfbf8;
  font-size: 38.5px;
  transform: rotate(-20deg);
}

.cursor-follower.active::before {
  content: "Go!";
  color: #E4F85A;
  font-family: 'rock salt';
  text-transform: lowercase;
  transform: rotate(-20deg);
}

.cursor-follower2.active {
  opacity: 1;
  transform: scale(3);
  border: 0px solid #fbfbf8;
  font-size: 26.5px;
  transform: rotate(-20deg);
}

.cursor-follower.active::before {
  content: "Go!";
  color: #fbfbf8;
  padding: 0 12.5px;
  font-family: 'rock salt';
  text-transform: lowercase;
  transform: rotate(-20deg);
}

.cursor-follower.active2 {
  opacity: 1;
  transform: scale(3);
  border: 0px solid #313131;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 26.5px;
  transform: rotate(-20deg);

}

.cursor-follower.active2::before {
  font-family: 'rock salt';
  color: #242424;
  background-color: #fbfbf8;
  padding: 0 12.5px;
  text-transform: lowercase;
  content:"Welcome!";
  white-space: nowrap;
  transform: rotate(-20deg);
}

.cursor-follower.project-1 {
  opacity: 1;
  transform: scale(1);
  font-weight: 700;
  border: 0px solid transparent;
  letter-spacing: 1px;
  font-size: 22px;
  transform: rotate(-20deg);
}

.cursor-follower.project-1::before {
  content: "The Limit Of Love";
  font-family: 'rock salt';
  color: #fbfbf8;
  transform: scale(2);
 
  -webkit-text-stroke-color: #242424;
  text-transform: lowercase;
  white-space: nowrap;
}

.cursor-follower.project-2 {
  opacity: 1;
  transform: scale(1);
  font-weight: 700;
  border: 0px solid transparent;
  letter-spacing: 1px;
  font-size: 22px;
  transform: rotate(-20deg);
}

.cursor-follower.project-2::before {
  content: "First Date";
  font-family: 'rock salt';
  color: #fbfbf8;
  transform: scale(2);
    
  -webkit-text-stroke-color: #242424;
  text-transform: lowercase;
  white-space: nowrap;
}

.cursor-follower.project-3 {
  opacity: 1;
  transform: scale(1);
  font-weight: 700;
  border: 0px solid transparent;
  letter-spacing: 1px;
  font-size: 22px;
  transform: rotate(-20deg);
}

.cursor-follower.project-3::before {
  content: "Heartbeat of the nation";
  font-family: 'rock salt';
  color: #fbfbf8;
  transform: scale(2);
    
  -webkit-text-stroke-color: #242424;
  text-transform: lowercase;
  white-space: nowrap;
}

.cursor-follower.project-4 {
  opacity: 1;
  transform: scale(1);
  font-weight: 700;
  border: 0px solid transparent;
  letter-spacing: 1px;
  font-size: 22px;
  transform: rotate(-20deg);
}

.cursor-follower.project-4::before {
  content: "England Rugby";
  font-family: 'rock salt';
  color: #fbfbf8;
  transform: scale(2);
    
  -webkit-text-stroke-color: #242424;
  text-transform: lowercase;
  white-space: nowrap;
}

.cursor-follower.project-5 {
  opacity: 1;
  transform: scale(1);
  font-weight: 700;
  border: 0px solid transparent;
  letter-spacing: 1px;
  font-size: 22px;
  transform: rotate(-20deg);
}

.cursor-follower.project-5::before {
  content: "Harlequin Gold";
  font-family: 'rock salt';
  color: #fbfbf8;
  transform: scale(2);
    
  -webkit-text-stroke-color: #242424;
  text-transform: lowercase;
  white-space: nowrap;
}


.cursor-follower.project-6 {
  opacity: 1;
  transform: scale(1);
  font-weight: 700;
  border: 0px solid transparent;
  letter-spacing: 1px;
  font-size: 22px;
  transform: rotate(-20deg);
}

.cursor-follower.project-6::before {
  content: "Shaw (You Got It)";
  font-family: 'rock salt';
  color: #fbfbf8;
  transform: scale(2);
    
  -webkit-text-stroke-color: #242424;
  text-transform: lowercase;
  white-space: nowrap;
}

.cursor-follower.project-7 {
  opacity: 1;
  transform: scale(1);
  font-weight: 700;
  border: 0px solid transparent;
  letter-spacing: 1px;
  font-size: 22px;
  transform: rotate(-20deg);
}

.cursor-follower.project-7::before {
  content: "Walk Alone (kd)";
  font-family: 'rock salt';
  color: #fbfbf8;
  transform: scale(2);
    
  -webkit-text-stroke-color: #242424;
  text-transform: lowercase;
  white-space: nowrap;
}

.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.hovered {
  opacity: 1;
}

@media screen and (max-width: 850px) {
    .cursor{
      display: none !important;
    }

  .cursor-follower {
    display: none !important;
    }
}
