.sponsor-2{
   width: 100%;
   height: 100%;
}

.logo-small{
  width: 9em !important;
}

  .mobile-grid{
    display: none;
  }

.grid-wrapper{
    right: 0;
    bottom: 0;
    position: absolute;
    top: 0;
    margin: auto;
    height: 50vh;
    text-align: center;
    z-index: 99;
        width: 100vw;
}

.main-text{
  position: absolute;
  width: 300px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -25px);
}
.box {
  display: inline-block;
  margin: 50px;
}

.box-1 {
width: 45%;
    height: 36%;
    grid-row: 16;
    grid-column: 37;
}

.box-2 {
width: 15%;
    height: 50%;
    grid-row: 28;
    grid-column: 6;
    top: 44%;
}

.box-3 {
    top: 93%;
    width: 40%;
    height: 85%;
    grid-row: 38;
    grid-column: 35;
}

.box-4 {
    width: 11%;
    height: 28%;
    grid-row: 8;
    grid-column: 7;
}

.box-5 {
    width: 22%;
    height: 28%;
    bottom: -30%;
    grid-row: 10;
    grid-column: 20;
}

.box-6 {
width: 23%;
    height: 19%;
    grid-row: 1;
    grid-column: 24;
}

.box-7 {
    grid-row: 25 / auto;
    width: 55%;
    top: 4%;
    height: 85%;
    grid-column: 22 / auto !important;
}

.wrapper {
    position: absolute;
    width: 120%;
    height: 150%;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(50, 2%);
    perspective: 600px;
}

.content-absolute{
  position: absolute !important;
}

.frame1{
  background-image:url('8.13591245.jpg');
  background-size: cover;
  background-position: center;
}

.frame1:hover{
  background-image:url('kd-compilation-slow.ec0ffe08.gif');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.frame2{
  background-image:url('5.be971960.jpg');
  background-size: cover;
  background-position: center;
}

.frame2:hover{
  background-image:url('fd-compilation-slow.49ded3b6.gif');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.frame3{
  background-image:url('f1.21d9d5ef.jpg');
  background-size: cover;
  background-position: center;
}

.frame3:hover{
  background-image:url('hotn-compilation-slow.41c3ca40.gif');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.frame4{
  background-image:url('1.46ef77a1.jpg');
  background-size: cover;
  background-position: center;
}

.frame4:hover{
  background-image:url('me-compilation-slow.addd36ba.gif');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.frame5{
  background-image:url('1.f267de9f.jpg');
  background-size: cover;
  background-position: center;
}

.frame5:hover{
  background-image:url('hg-compilation-slow.9034dbc7.gif');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.frame6{
  background-image:url('1.3f3ce21e.jpg');
  background-size: cover;
  background-position: center;
}

.frame6:hover{
  background-image:url('shaw-compilation-slow.453786d5.gif');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.frame7{
  background-image:url('tlol_1.40.1.4512a7c7.jpg');
  background-size: cover;
  background-position: center;
}

.frame7:hover{
  background-image:url('tlol-compilation-slow.061d8b9c.gif');
  background-size: cover;
  background-position: center;
  opacity: 1;
}

@media screen and (max-width: 850px) {

.has-scroll-smooth body{
  overflow: unset !important;
}

body{
  overflow: unset !important;
}

html.has-scroll-smooth {
    overflow: unset !important;
}

body.has-scroll-smooth{
    overflow: unset !important;
}

main{
  overflow: unset !important;
}

#header{
  height: 0 !important;
}

  .grid-wrapper {
      display: none;
    }

  .mobile-grid{
    display: block;
    margin-top: 35%;
    position: absolute;
  }

  .mobile-grid h3{
    margin-top: 2em;
    margin-left: 1em;
  }

  .thumbnail-box{
    width: 100%
  }

  .thumbnail-box img{
    width: 100%
  }
}