
svg {
  width: 100%;
}

.sidebar {
  padding: 20px 20px;
}

.logo-img{
  filter: url(#transmissionerror);
}

.snake-logo{
  filter: url(#transmissionerror);
}

.c-header_title_line{
  filter: url(#transmissionerror);
}

.goal{
    filter: url(#transmissionerror);
}

.theframe{
      filter: url(#transmissionerror);
}

#app{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: auto;
  }

  #app img{
  	width: 100vw;
  	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }


  @media screen and (max-width: 850px) {
    .logo-img{
      filter: unset;
}

  }